html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: column;
}

#main-nav {
    display: flex;
}

.promos {
    display: flex;
}
footer {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
#footer-content-wrapper{
    display: flex;
    font-size: 10px;
    color: #6e6e6e;
    line-height: 12px;
    font-weight: 400;
}

#footer-content-wrapper a {
    color: #08c;
    text-decoration: none;
}
#footer-content-wrapper a:hover {
    text-decoration: underline;
}

#footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-right ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

